<!DOCTYPE html>
<html style="background-color: black">
<head>
    <title>Group List</title>
</head>
<body style="display: flex;justify-content: space-around;flex-wrap: wrap">
<img src="{{.Image}}" width="270px" height="270px" alt="">
<p style="color: wheat">
    {{.Name        }}</p>
<p style="color: wheat">
    {{.Members     }}</p>
<p style="color: wheat">
    {{.CreationDate}}</p>
<p style="color: wheat">
    {{.FirstAlbum  }}</p>
</body>
</html>