<!DOCTYPE html>
<html style="background-color: black">
<head>
    <title>Group List</title>
</head>
<body style="display: flex;flex-direction: column;align-items: center;justify-content: space-around">
<img src="{{.Image}}" width="180px" height="180px" alt="">
<p style="color: wheat">
GROUP NAME:
</p>
<p style="color: wheat">
{{.Name        }}
</p>
<p style="color: wheat">
MEMBERS:
</p>
{{range .Members     }}
    <li style="color: wheat">{{.}}</li>
{{end}}
<p style="color: wheat">
CREATION DATE:
</p>
<p style="color: wheat">
{{.CreationDate}}
</p>
<p style="color: wheat">
FIRST ALBUM:
</p>
<p style="color: wheat">
{{.FirstAlbum  }}
</p>
</body>
</html>