<!DOCTYPE html>
<html>
<head>
    <title>Page de film Netflix</title>
    <link rel="stylesheet" href="../static/css/artist.css">
</head>
<body>
<div class="container">
    <div class="main-content">
        <div class="artist-details">
            <div class="artist-image">
                <img src="{{.Image}}" alt="">
            </div>
            <div class="artist-info">
                <h2>{{.Name        }}</h2>
                <p class="rating">Note : 4/5</p>
                <p class="description">Date of creation : {{.CreationDate}} </p>
                <p class="description">First Album : {{.FirstAlbum  }} </p>
                <ul class="cast-list">
                    <li>Members : {{.Members}}</li>
                </ul>
                <div class="buttons">
                    <button>Regarder</button>
                    <button>Ajouter à ma liste</button>
                </div>
            </div>
        </div>
        <div class="related-artist">
            <h2>Films similaires</h2>
            <div class="artist-grid">
                <div class="artist">
                    <img src="../static/Image/Groupie-Tracker-Toudoum.png" alt="artist 2">
                    <h3>Titre du film 2</h3>
                </div>
                <div class="artist">
                    <img src="../static/Image/Netflix-Toudoum.png" alt="artist 3">
                    <h3>Titre du film 3</h3>
                </div>
                <div class="artist">
                    <img src="../static/Image/Groupie-Tracker-Toudoum.png" alt="artist 4">
                    <h3>Titre du film 4</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
