<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Not Found - Groupie Tracker</title>
  <link rel="stylesheet" href="../static/css/error.css">
</head>
<body>
<header>
  <div class="logo">
    <img src="../static/Image/Groupie-Tracker-Toudoum.png" alt="Groupie Logo">
  </div>
</header>
<div class="error-container">
  <img src="../static/Image/Groupie-Tracker-Toudoum.png" alt="Groupie Logo">
  <h1>Error 404: Page Not Found</h1>
  <p>The page you are looking for could not be found. Please check the URL or return to the Groupie Tracker homepage.</p>
  <a href="http://localhost:8080/home">Return to Groupie Tracker</a>
</div>
</body>
</html>

