<!DOCTYPE html>
<html style="background-color: black">
<head>
    <title>Group List</title>
</head>
<body style="display: flex;justify-content: space-between;flex-wrap: wrap">
{{range .Artists}}
    <img src="{{.Image}}" style="margin-bottom: 10vh" width="270px" height="270px" alt="">
{{end}}
</body>
</html>