<!DOCTYPE html>
<html style="background-color: black">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Group List</title>
</head>
<body>

<div class="artists">
    {{range .Artists}}
        <a href="/artist/{{.Id}}">
            <img src="{{.Image}}" style="margin-bottom: 40px" width="270px" height="270px" alt="">
        </a>
    {{end}}
</div>

</body>
</html>