<!DOCTYPE html>
<html>
<head>
  <title>Loading - Groupie Tracker</title>
  <link rel="stylesheet" href="../static/css/loading.css">
  <link rel="icon" href="../static/Image/N-logo.png">
</head>
<body>
<div class="loading">
  <img class="logo" src="../static/Image/Groupie-Tracker-Toudoum.png">
</div>

<script>
  window.addEventListener("load", function() {
    const loadingScreen = document.querySelector(".loading");
    setTimeout(function() {
    }, 3000);
  });
  setTimeout(function() {
    window.location.href = "http://localhost:8080/home";
  }, 1700);
</script>
</body>
</html>
