body {
    background-color: #101010;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1C1C1C;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    padding-right: 2rem;
    padding-left: 1rem;
    padding-top: 1vh;
    height: 30px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    margin: 0 10px;
}

nav a {
    font-family: "Arial";
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
}

nav a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.search-form input[type="text"] {
    border: none;
    padding: 7.5px;
    margin-top: 1.5vh;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.search-form button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 4.5vh;
}

.logo2{
    height: 2vh;
    width: 1vw;
}


.toWrap {
    font-family: "Arial";
    position: absolute;
    margin-left: 51vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TextPad {
    margin-bottom: 2vh;
}

#CarrierYears {
    color: white;
}

#CarrierYears2 {
    font-family: "Arial";
    color: white;
    margin-top: 0vh;
}

input[type=range]{
    overflow: hidden;
    -webkit-appearance: none;
    border-radius: 50px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #910000;
    margin-top: -4px;
    box-shadow: -80px 0 0 80px #e50914;
    cursor: ew-resize;
}
.toWrap2 {
    font-family: "Arial";
    position: absolute;
    margin-top: 6vh;
    margin-left: 61.75vw;
    display: flex;
    gap: -1vw;
}

#nMembers {
    font-family: "Arial";
    position: absolute;
    margin-top: -1vh;
    margin-left: 64.75vw;
    display: flex;
}

label {
    cursor: default;
    color: white;
    margin-top: -1.5vh;
}

.ParentCredit {
    font-family: "Arial";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2vh;
    margin-left: 75.1vw;
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 4vh;
}

footer {
    background-color: #1C1C1C;
    color: #757575;
    font-size: 14px;
    padding: 20px 0;
}

footer a {
    color: #757575;
    text-decoration: none;
}

footer a:hover {
    color: #B3B3B3;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer hr {
    border-color: #757575;
}

footer p {
    margin-bottom: 0;
}

.button-page {
    display: flex;
    justify-content: center;
}

.button-page > * {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
}

.corporation {
    margin-left: 21.1vw;
}

.social-icons {
    list-style: none;
    text-align: right;
    margin-right: 68vw;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

.social-icons li {
    display: inline-block;
    margin-left: 20px;
}

.social-icons li:first-child {
    margin-left: 0;
}

.social-icons a {
    color: #757575;
    font-size: 18px;
}

.social-icons a:hover {
    color: #B3B3B3;
}

.facebook {
    font-size: 18px;
    height: 3.4vh;
    width: 0.9vw;
}
.instagram {
    font-size: 18px;
    height: 3vh;
    width: 1.5vw;
}
.twitter {
    font-size: 18px;
    height: 3vh;
    width: 1.5vw;
}
.youtube {
    font-size: 18px;
    height: 2.5vh;
    width: 1.5vw;
}
